body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#analysesList {
    margin-top: 20px;
}

.analysis-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
